<br>
<header class = "d-flex justify-content-center">
    <h2>
        Welcome to the Tiny Tech Blog
    </h2>
</header>
<br>

{{#each blog_posts as |blog-post|}}
{{> blog-post-detail}}
<br>
{{/each}}