<br></br>
<div class = "d-flex flex-column justify-content-center">
    <h4>Type Your New Post Below</h4>
    <br></br>
    <div class = "card">
        <input placeholder="Blogpost Title" id = "blog_title"></input>
        <textarea style = "min-height: 200px;" placeholder="Type your blogpost here" id = "blog_description"></textarea>
    </div>
    <button class = "btn btn-primary" onclick = "submit_blogpost(event)">Submit</button>
</div>
