<div class = "container row justify-content-md-center">
        <div class = "card" style = "width: 75%;">
            <div class = "container row align-items-end ">
                <h3 class = "card-title col-sm">{{title}}</h3>
                <h6 class = "card-title col-sm"> Posted by {{user.name}} on {{createdAt}}</h6>
            </div>
            <div class = "card-body">
         <p class = "justify-content-center"> {{description}}</p>
    </div>
</div>